# NOTE: Don't forget to end each entry of ChatsToScan with ;

[DEFAULT]
    DiscordBotToken         = DC BOT TOKEN
    DiscordChannelId        = DC CHANNEL ID
    AssetContractsToScan    = 0x31c823260528ba98e3bf797b2add2302af097392;
                              0xa64c5ec80784675bf289a4722a2eca180212f9db;
                              OR SOME OTHER ASSET CONTRACT;
    PingIntervalInSec       = PING INTERAL IN SEC (60)
    BoPrintSalesToConsole   = True
    BoPrintBidsToConsole    = True